body
{
    background: white;
}

/* h3
{
 
    margin-top: 50px;
    
} */

/* 
#g
{
   
    color: red;
    
}

#b
{
    
    color: blue;
}

#gr
{
   
    color: green;
} */

i
{
    margin-top: 80px;
}