body
{
    background: white;
}

.a
{
    background: white;
    font-weight: 600;
    font-family: 'arial', sans-serif; 
    border: 1px solid black;
}

.b
{
    font-weight: 900;
    font-family: 'arial', sans-serif; 
}